.character-card {
    background-color: #ffffff;
    max-width: 410px;
    margin-top: 52px;
    border-radius: 10px 10px 6px 6px;
}
.character-card:not(:last-child) {
    margin-right: 20px;
}
.character-picture {
    background: url('../../../../images/Ellipse.png') no-repeat;
    background-size: cover;
}
.character-date {
    background-color: #d9335e;
    padding: 17px 27px;
    border-radius: 0px 0px 6px 6px;
}
