.character-card {
    background-color: #ffffff;
    max-width: 410px;
    margin-top: 52px;
    border-radius: 10px 10px 6px 6px;
    cursor: pointer;
}
.character-card:not(:last-child) {
    margin-right: 20px;
}
.character-picture {
    position: relative;
    background-size: cover;
    width: 410px;
    height: 374px;
}
.character-picture h1 {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.03em;
    margin-left: 22px;
    margin-bottom: 15px;
    max-width: 300px;
    position: absolute;
    bottom: 0;
}
.character-date {
    padding: 17px 27px;
    border-radius: 0px 0px 6px 6px;
}
